<body>
    
    <div class="body">
        <div class="my_jumbotron">
            <div id="container">
                <h2>La Petite Cuisine story</h2>
                <p>We know how to cook. In fact, we wrote the blog on it.</p>
            </div>
        </div>

        <div class="type type-1">
            <div class="container">
                <h2>What is La Petite Cuisine?</h2>
                <p>
                    La Petite Cuisine is a site for easy, delicious and original cooking recipes. 
                    Every day, new ideas for good meals to prepare, explained step by step with illustrations and videos. 
                    So don't wait any longer, try yourself!
                </p>
            </div>
        </div>


        <div class="type type-2">
            <div class="container">
                <div class="row">
                    <div class="img-thum col-12 col-lg-5">
                        <img src="../images/CEOjpg.jpg" alt="">
                    </div>
                    <div class="content col-12 col-lg-6">
                        <h3>Our founding</h3>
                        <p>
                            La Petite Cuisine was founded by Dang Diem Linh in 2004. 
                            It was called LesChefs, and started as a blog and an online community 
                            where some of the world's first chefs experts shared their research and ideas. 
                            We launched the Beginner's Guide to cook and our first Search Ranking Factors study, 
                            and that hub of industry expertise transformed into a small consulting firm and led us to create some of our first SEO tools.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="type type-3">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="img-thum col-12 col-lg-5 ">
                        <img src="../images/10Years.jpg" alt=""> 
                    </div>
                    <div class="content col-12 col-lg-6">
                        <h3>A new leaf</h3>
                        <p>
                            With our broader marketing efforts in full swing, we rebranded from LesChefs to La Petite Cuisine in 2013. 
                            We released a suite of campaign-based tools called La Petite Cuisine Analytics that included features for content, 
                            social media, and brand management in addition to links and rankings. We also celebrated 10 years in search 
                            and welcomed long-time Vinh Duong as our new CEO.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

        

        <h1 style="margin: 100px 0px 40px; text-align:center">THE MEMBERS OF LA PETITE CUISINE</h1>

        <div class="type type-2">
            <div class="container">
                <div class="row">
                    <div class="img-thum col-12 col-lg-5">
                        <img src="../images/person_1.jpg" alt="">
                    </div>
                    <div class="content col-12 col-lg-6">
                        <h3>Dang Diem Linh</h3>
                        <p>
                            She is studying Information Technology at the University of Science, HO Chi Minh City.
                            She enjoys good food and spends most of her time building systems related to the daily menu.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="type type-3">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="img-thum col-12 col-lg-5 ">
                        <img src="../images/person_2.jpg" alt=""> 
                    </div>
                    <div class="content col-12 col-lg-6">
                        <h3>Duong Quang Vinh</h3>
                        <p>
                            He lives in HCM Ville in Vietnam. He is a programmer by training and software developer is his specialty. 
                            Its contribution to the life of human beings is to simplify the problem of people in the technological age.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="type type-2 none-before">
            <div class="container">
                <div class="row">
                    <div class="img-thum col-12 col-lg-5">
                        <img src="../images/person_3.jpg" alt="">
                    </div>
                    <div class="content col-12 col-lg-6">
                        <h3>Luong Long Ha</h3>
                        <p>
                            He lives and studies Computer Technology in SaiGon city. 
                            He spent most of his life in video games and dreamed of becoming an engineer to develop famous video games in the future.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="type type-3">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="img-thum col-12 col-lg-5 ">
                        <img src="../images/person_4.jpg" alt=""> 
                    </div>
                    <div class="content col-12 col-lg-6">
                        <h3>Pham Vo Duc Phong</h3>
                        <p>
                            He is a student at the University of Sciences. 
                            He comes from Binh Dinh province. 
                            His hobbies are programming and sports. For him, each dish is a gift
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="type type-2 none-before">
            <div class="container">
                <div class="row">
                    <div class="img-thum col-12 col-lg-5">
                        <img src="../images/person_5.jpg" alt="">
                    </div>
                    <div class="content col-12 col-lg-6">
                        <h3>Nguyen Duc Phu</h3>
                        <p>
                            He works closely with developers to create innovative solutions and bring technology products to the world. He loves to run, read books and go to the forest.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-12 heading-section ftco-animate text-center" style="margin-bottom: 40px;">
				  <h2 class="mb-1">ABOUT US</h2>
				</div>
				<div class="col-md-6">
					<img src="images/team.jpg" width="550px" style="background-image: url(images/team.jpg);">
				</div>
				<div class="col-md-6 justify-content-center">
				<div class="tabulation-2 mt-4">
					<ul class="nav nav-pills nav-fill d-md-flex d-block">
					  <li class="nav-item">
						<a class="nav-link active py-2" data-toggle="tab" href="#home1"><i class="fa fa-rocket" aria-hidden="true"></i> Notre Mission</a>
					  </li>
					  <li class="nav-item px-lg-2">
						<a class="nav-link py-2" data-toggle="tab" href="#home2"><i class="fa fa-eye" aria-hidden="true"></i> Notre Vision</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link py-2" data-toggle="tab" href="#home3"><i class="fa fa-gift" aria-hidden="true"></i> Notre Valeur</a>
					  </li>
					</ul>
					<div class="tab-content bg-light rounded mt-2">
					  <div class="tab-pane container p-0 active" id="home1">
						  <p>Our mission is to give all users the best dining experience through detailed recipes. With the recipes we offer, it is certain that anyone can complete their favorite dish.
						  </p>
					  </div>
					  <div class="tab-pane container p-0 fade" id="home2">
						  <p>Our goal is not only to have a full range of cuisines from all over the world, but also a social network for cooking, where everyone can share secrets in their kitchen and receive attractive gifts for useful sharing.</p>
					  </div>
					  <div class="tab-pane container p-0 fade" id="home3">
						  <p>The value we bring to the world is a healthy, useful and friendly place of trust. We always wish that everyone can together enrich the culinary world in this space.</p>
					  </div>
					</div>
				</div>
			</div>
			</div>
		</div>	
	</section>


        <div class="origin">
            <div class="container">
                <h3>Where Does the Name "La Petite Cuisine" Come From?</h3>
                <div class="message">
                    <div class="box">
                        La Petite Cuisine, formerly LesChefs, has a name that was inspired by organizations like Chefmoz — 
                    company that strove for engaging their communities with openness and integrity. 
                    From the very beginning, we felt passionately about bringing that same integrity to the frustratingly opaque cooking industry.
                    </div>
                </div>
                <div class="img-thum">
                    <img src="../images/CCEO.jpg" alt=""> 
                </div>
                <p class="name">Diem Linh</p>
                <p class="founder">Founder at <a href="">La Petite Cuisine</a></p>
            </div>
            
        </div>
    </div>

    